body {
    background-color: black;
}

.jumbotron {
    background-color: rgb(172, 35, 35);
    color: white;
    height: 250px;
    line-height: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carousel-item img {
    height: 500px;
    object-fit: contain;
}

.article {
    background-color: gray;
    padding: 50px;
    display: flex;
}

.article img {
    width: 300px;
    margin-right: 50px;
}

.modal-area {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body img {
    width: 300px;
}

.input-area {
    display: flex;
    flex-direction: column;
}