body {
    background-color: purple;
    color: yellow;
}

h1 {
    text-align: center;
}

.text-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.score {
    margin-left: auto;
}

.canvas-container {
    margin: 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}